.button{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    padding:  0.25rem 2rem;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #000;
    transition: all 1s ease;
}
.button:hover{
    cursor: pointer;
    background-color: #EFEFEF;
    color: #0003FF;
}


