.newsFullPage{
    background-image: url(../assets/4.png);
    .newspage{
        width: 100vw;
        font-family: "Inter", sans-serif;
        display: flex;
        min-height: 100vh;
        color: #000;
        .left{
            display: flex;
            flex-direction: column;
            gap:30px;
            width: 60vw;
            padding-left: 20px;
            .heading{
                font-size: 3rem;
            }
            .subheading{
                font-size: 2rem;
            }
            .description{
                font-size: 1.5rem;
                line-break:auto;
            }
        }
        .right{
            width: 40vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}