.container {
  width: 90% !important;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;
  font-size: 2.5vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: #f1f1f1;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba($color: #000000, $alpha: 0.1);
  background-color: #ffffff20;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.container:hover {
  
  color: black;
  cursor: pointer;
  border: 0px;
}