.container {
  width: 90% !important;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;
  font-size: 2.5vw;
  background-color: #f1f1f1;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  filter: drop-shadow(7px 7px);
  overflow: hidden;
}

.container:hover {
  color: black;
  cursor: pointer;
  border: 0px;
}

.container:active {
  transform: scale(0.85);
}

.container:before {
  content: "";
  width: 50%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: -50%;
  top: -100%;
  background: #FFD101ff;
  transition: all 0.6s ease;
  z-index: -1;
}

.container:hover:before {
  top: 0;
  left: 0;
  border: 0px;
  transform: rotate(180deg);
}

.container:after {
  content: "";
  width: 50%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 100%;
  top: 100%;
  background: #FFEE32ff;
  transition: all 0.6s ease;
  z-index: -1;
}

.container:hover:after {
  top: 0;
  left: 50%;
  border: 0px;
  transform: rotate(180deg);
}