*{
    padding: 0px ;
    margin: 0px;
    box-sizing:border-box;
}
.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #f1f1f1;
}
.modal-container{
    position:fixed;
}